* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: !( global.fonts.foreground )!;
    font-weight: bold;
    font-size: 16px;
    padding: 0;
}

window#waybar {
    background: #!( global.colors.background )!;
}

tooltip {
    background-color: #!( global.colors.lightbg )!;
    border: 2px solid #!( global.colors.black )!;
}

#clock,
#window,
#tray,
#cpu,
#memory,
#battery,
#network,
#mpd,
#pulseaudio {
    margin: 6px 6px 6px 0px;
    padding: 2px 8px;
}

#workspaces {
    margin: 6px 0px 6px 6px;
}

#workspaces button {
    all: initial;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    padding: 2px 4px;
    color: #!( global.colors.darkfg )!;
}

#workspaces button.focused {
    color: #!( global.colors.foreground )!;
}

#window, #workspaces {
    background-color: #!( global.colors.lightbg )!;
    border: 2px solid #!( global.colors.black )!;
    color: #!( global.colors.foreground )!;
}

window#waybar.empty #window {
    background-color: transparent;
    border: 0px;
    color: transparent;
}

#tray,
#cpu,
#memory,
#network,
#battery,
#clock,
#mpd,
#pulseaudio {
    background-color: #!( global.colors.lightbg )!;
    border: 2px solid #!( global.colors.black )!;
    color: #!( global.colors.foreground )!;
}
