/* :root { */
/*     --base00: #171B24; */
/*     --base01: #1F2430; */
/*     --base02: #242936; */
/*     --base03: #707A8C; */
/*     --base04: #8A9199; */
/*     --base05: #CCCAC2; */
/*     --base06: #D9D7CE; */
/*     --base07: #F3F4F5; */
/*     --base08: #F28779; */
/*     --base09: #FFAD66; */
/*     --base0A: #FFD173; */
/*     --base0B: #D5FF80; */
/*     --base0C: #95E6CB; */
/*     --base0D: #5CCFE6; */
/*     --base0E: #D4BFFF; */
/*     --base0F: #F29E74; */
/* } */

/* 0 bg0,        Default background */
/* 1 bg1,        Lighter background */
/* 2 bg3,        Selection background */
/* 3 grey1,      Comments */
/* 4 grey2,      Dark foreground */
/* 5 fg,         Default foreground */
/* 6 bg3,        Light foreground */
/* 7 bg0,        Light background */
/* 8 blue */
/* 9 purple */
/* A yellow */
/* B aqua */
/* C orange */
/* D green */
/* E red */
/* F bg_visual */

* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "Maple Mono";
    font-weight: bold;
    font-size: 16px;
    padding: 0;
}

window#waybar {
    background: #171B24;
    border-bottom: 2px solid #1F2430;
}

tooltip {
    background-color: #101010;
    border: 2px solid #766451;
}

#clock,
#window,
#tray,
#cpu,
#memory,
#battery,
#network,
#mpd,
#pulseaudio {
    margin: 6px 6px 6px 0px;
    padding: 2px 8px;
}

#workspaces {
    margin: 6px 0px 6px 6px;
}

#workspaces button {
    all: initial;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    padding: 2px 4px;
    color: #8A9199;
}

#workspaces button.focused {
    color: #CCCAC2;
}

#workspaces button.urgent {
    background-color: #e78a4e;
    color: #1d2021;
}

#window, #workspaces {
    background-color: #242936;
    border: 2px solid #1F2430;
    color: #CCCAC2;
}

window#waybar.empty #window {
    background-color: transparent;
    border: 0px;
    color: transparent;
}

#tray,
#cpu,
#memory,
#network,
#battery,
#clock,
#mpd,
#pulseaudio {
    background-color: #242936;
    border: 2px solid #1F2430;
    color: #CCCAC2;
}

/* #cpu.critical, */
/* #memory.critical { */
/*     background-color: #c9af82; */
/*     border: 2px solid #917a53; */
/*     color: #c14a4a; */
/* } */

/* #battery.warning, */
/* #battery.critical, */
/* #battery.urgent { */
/*     background-color: #c9af82; */
/*     border: 2px solid #917a53; */
/*     color: #ae6330; */
/* } */
